* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: calc(100% -100px);
  height: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  /* margin-right: 100px; */
  /* background-image: url(./images/shapes/Group-8450.png);
  background-repeat: no-repeat; */
}
.container h3 {
  font-size: 60px;
  font-weight: 700;
  color: rgb(87, 87, 87);
  margin-bottom: 40px;
}

.container p {
  color: rgb(130, 130, 130);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  padding: 24px 32px 24px 32px;
  border-radius: 100px;
  background-color: rgb(255, 102, 30);
  border: none;
  cursor: pointer;
}
.container button:hover {
  background-color: brown;
  transition: 1s ease-in;
}
.container img {
  width: 792px;
  height: 843.96px;
  margin-bottom: 100px;
}

/* banner responsive */
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column-reverse;
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    height: auto;
  }
  .container img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
}

/* Banner Responsive ends here */

/* about section styles start */

.about {
  width: 1320px;
  height: 550px;
  margin: 0 auto;
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-about {
  width: 50%;
  display: flex;
  justify-content: center;
}
.about-content {
  width: 50%;
  padding-right: 180px;
}
.img-about img {
  width: 298px;
  height: 486px;
  margin-top: 50px;
}

.about-content h3 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(112, 112, 112);
  margin-bottom: 28px;
}

.about-content p {
  color: rgb(24, 25, 31);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px;
}

/* about section responsive */
@media screen and (max-width: 576px) {
  .about {
    background-image: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid olivedrab;
  }
  .img-about {
    width: 100%;
    background-color: rgba(210, 105, 30, 0.76);
  }
  .img-about img {
  }
}
.about-content {
  width: 100%;
  padding: 20px;
}

/* about section styles ends here */

/* recipies section styles here */

.recipies {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.recipies h3 {
  color: rgb(103, 103, 103);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}
.recipies > p {
  height: 59px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgb(37, 37, 37);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
}

.recipie-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.first-recipies,
.second-recipies {
  height: 470px;
  width: 511px;
  border-radius: 28px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
}
.recipies-details {
  width: 434px;
  height: 140px;
  margin: 0 auto;
  text-align: start;
}
.recipies-details h4 {
  color: rgb(24, 25, 31);
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 800;
  margin-top: 30px;
}
.recipies-details p {
  color: rgb(24, 25, 31);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.recipie-img {
  width: 480px;
  height: 278px;
  margin-top: 15px;
}
